<header>
</header>

<main>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h1>コレ見た！オススメ！！</h1>
            <p>コレ見た！オススメ！！は見た映画や本、漫画などをレビュー、メモする事ができるサイトです。</p>
        </div>
        <div class="col-md-6">
            <div class="login-form-wrapper">
                <h2>ログインフォーム</h2>
                <div class="input-form-wrapper">
                    <input type="text">
                    <input type="text">
                    <input type="text">
                </div>
            </div>
        </div>
    </div>
</div>
</main>

<footer>
    2021 Satoshi kawata
</footer>